###############################################################################
# Outputs
###############################################################################

/out

###############################################################################
# C
###############################################################################

*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

###############################################################################
# Python
###############################################################################

__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

###############################################################################
# VS Code
###############################################################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/
*.vsix
.history
.ionide